::-webkit-scrollbar {
    display: none;
}

:root{
    --columnPadding: 4px;
    --pgbgColor: #1e1e29;
    --devListClr: #332f3f;
    --addbtnClr: #69ec69;
    --rmbtnClr: #f16d64;
    --connbtnClr: #4d75e0;
    --allTerminalClr: #9B6EF3;
    --terminal0Clr: #83B2FF;
    --terminal1Clr: #8BF18B;
    --terminal2Clr: #FFE981;
    --terminal3Clr: #FF8650;
    --terminal4Clr: #FF555E;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background-color: #ececfd;  */
    background: black;
    background: var(--pgbgColor); 
    height: 100vh;   
    /* overflow: hidden; */
}

.topNavBar{
    display: flex;
    position: relative;
    background-color:rgb(77, 58, 250);
    /* border: 1px solid black; */
    overflow: hidden;
    z-index: 0;
    height: 4.2em;
    /* height: 9vh; */
    justify-content: center;
    /* box-shadow: 0px 4px 7.5px grey; */
    box-shadow: rgb(38, 57, 77) 0px 8px 30px -5px;  
}

#title{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fdfced;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: -1.5px -1px 3px #fff6b2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
}

.btn{
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    /* background-color:#4eb5f1; */
    text-align:center;
    transition: all 0.2s;
    border: 0;
}
.btn:hover{
    background-color:#4095c6;
}

#addRmServsbtn{
    background-color:var(--addbtnClr);
}

#connbtn{
    background-color:var(--connbtnClr);
}

#sendbtn{
    background-color:var(--allTerminalClr);
}

.boxes{
    border: 1.7px solid rgba(0, 0, 0, 0.301);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 2;
}

.opServs{
    margin-top: 25px;
    margin-bottom: 8px;
}

.column1{
    float: left;
    width: 20%;
    height: calc(100vh - 20vh);
    padding: var(--columnPadding);
}
.column2{
    float: left;
    width: 50%;
    height: calc(100vh - 20vh);
    max-height: calc(100vh - 20vh);
    padding: var(--columnPadding);
    overflow-y: scroll;
    position: relative;
}
.column3{
    float: left;
    width: 30%;
    height: calc(100vh - 20vh);
    padding: var(--columnPadding);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.devlist{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background: black;
    background: var(--devListClr);
    box-shadow: -2px -2px 8px 0px rgba(14, 15, 29, 0.603) inset;
}

.devlistInner{
    overflow-y: scroll;
    width: 100%;
    cursor: default;
}

.devlistInner b{
    vertical-align: middle;
    word-wrap: break-word;
    white-space: nowrap;
    display: flex;
    position: relative;
}

.devlistInner img{
    vertical-align: middle;
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 3px;
}


.tab{
    white-space: nowrap;
    display: flex;
    height: auto;
}

.tab button{
    width: 1%;
    flex: 1;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    /* border: 1px solid var(--terminal1Clr); */
    padding: 6px 3px;
    /* background-color: var(--terminal1Clr); */
    border-top-left-radius: 6px;
    border-top-right-radius: 18px;
    cursor: pointer;
}

#terminals{
    height: 88.7%;
    width: 100%;
    /* max-height: calc(100vh - 30vh); */
    overflow: hidden;
}

.terminal{
    width: 100%;
    height: 100%;
    color: rgb(218, 218, 218);
    background-color: rgb(0, 0, 0);
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* border: 3px solid var(--terminal1Clr); */
    box-shadow: inset 1px 9px 16px -10px white;
    text-overflow: ellipsis;
    text-align: left;
    outline: none;
}

#Allbtn{
    background-color: var(--allTerminalClr);
    border: 1px solid var(--allTerminalClr);
}

#AllTerminal{
    border: 3px solid var(--allTerminalClr);
}


.terminalInput{
    white-space: nowrap;
    display: flex;
    margin-top: 5px;
    height: auto;
    /* position: relative; */
}

.terminalInput Input{
    width: 1%;
    flex: 1;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    padding: 6px 3px;
    margin-right: 5px;
}

.hidden{
    display: none;
}