::-webkit-scrollbar {
    display: none;
}

:root{
    --columnPadding: 4px;
    --pgbgColor: #1e1e29;
    --devListClr: #332f3f;
    --addbtnClr: #69ec69;
    --rmbtnClr: #f16d64;
    --connbtnClr: #4d75e0;
    --allTerminalClr: #9B6EF3;
    --terminal0Clr: #83B2FF;
    --terminal1Clr: #8BF18B;
    --terminal2Clr: #FFE981;
    --terminal3Clr: #FF8650;
    --terminal4Clr: #FF555E;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--pgbgColor); 
    height: 100vh;   
}

.topNavBar{
    display: flex;
    position: relative;
    background-color:rgb(77, 58, 250);
    overflow: hidden;
    z-index: 0;
    height: 4.2em;
    justify-content: center;
    box-shadow: rgb(50 42 119) 0px 5px 20px 2px;
}

#title{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fdfced;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: rgb(255 246 178) -1.5px -1px 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
}

.btn{
    border-radius: 2em;
    box-sizing: border-box;
    vertical-align: middle;
    transition: all 0.2s;
    border: 0;
    padding: 5px 10px;
    text-align:center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: auto;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    line-height: auto;
    cursor: pointer;
}
.btn:hover{
    background-color:#fafafa;
}

#addRmServsbtn{
    background-color:var(--addbtnClr);
    margin-right: 3.5px;
}
#addRmServsbtn:hover{
    font-size: 0.93em;
}

#connbtn{
    background-color:var(--connbtnClr);
}
#connbtn:hover{
    font-size: 0.93em;
}

#sendbtn{
    background-color:var(--allTerminalClr);
}
#sendbtn:hover{
    font-size: 0.93em;
}

.boxes{
    border: 1.7px solid rgba(0, 0, 0, 0.301);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 2;
}

.opServs{
    /* margin-top: 22px; */
    /* margin-bottom: 13px; */
    /* margin-left: 25px; */
    /* border: 2px solid black; */
    width: fit-content;
    padding: 20px 12.5px;
    padding-bottom: 6px;
}

#ServsInput{
    /* background-color:black; */
    padding: 6px 3px;
    margin-right: 5px;
    outline: none;
}

.column1{
    float: left;
    width: 20%;
    height: calc(100vh - 20vh);
    padding: var(--columnPadding);
}
.column2{
    float: left;
    width: 50%;
    height: calc(100vh - 20vh);
    max-height: calc(100vh - 20vh);
    padding: var(--columnPadding);
    overflow-y: scroll;
    position: relative;
}
.column3{
    float: left;
    width: 30%;
    height: calc(100vh - 20vh);
    padding: var(--columnPadding);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.devlist{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background: black;
    background: var(--devListClr);
    box-shadow: -2px -2px 8px 0px rgba(14, 15, 29, 0.603) inset;
}

.devlistInner{
    overflow-y: scroll;
    width: 100%;
    cursor: default;
    padding-left: 8px;
    padding-top: 6px;
    
    text-align:left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 200;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    line-height: auto;
}

.devlistInner b{
    vertical-align: middle;
    word-wrap: break-word;
    white-space: nowrap;
    display: flex;
    position: relative;
    padding-bottom: 5px;

    text-align:center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: underline;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: auto;
}

.devlistInner img{
    vertical-align: middle;
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 3px;
}


.tab{
    white-space: nowrap;
    display: flex;
    height: auto;
}

.tab button{
    width: 1%;
    flex: 1;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    padding: 6px 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 18px;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: auto;
    letter-spacing: 0px;
    word-spacing: -1.8px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: auto;
    
}

.clearbtn{
    position: absolute;
    /* top: 0; */
    margin: 8px 12px;
    right:0;
    cursor: pointer;
}

#terminals{
    height: 88.7%;
    width: 100%;
    /* max-height: calc(100vh - 30vh); */
    overflow: hidden;
}

.terminal{
    width: 100%;
    height: 100%;
    color: rgb(218, 218, 218);
    background-color: rgb(0, 0, 0);
    resize: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* border: 3px solid var(--terminal1Clr); */
    box-shadow: inset 1px 9px 16px -10px white;
    text-overflow: ellipsis;
    text-align: left;
    outline: none;
}

#Allbtn{
    background-color: var(--allTerminalClr);
    border: 1px solid var(--allTerminalClr);
}

#AllTerminal{
    border: 3px solid var(--allTerminalClr);
}


.terminalInput{
    white-space: nowrap;
    display: flex;
    margin-top: 5px;
    height: auto;
    /* position: relative; */
}

.terminalInput Input{
    width: 1%;
    flex: 1;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    padding: 6px 3px;
    margin-right: 5px;
    outline: none;
}

.hidden{
    display: none;
}


.column3 > div{
    border: 1px solid black;
    height: 50%;
    width: 100%;
    overflow: scroll;
    position: relative;
}

.shortcuts > b{
    color: white;
    display: block;
    /* position: relative; */
    margin: 5px 5px;
}
.shortcuts > img{
    position: absolute;
    cursor: pointer;
    right: 0;
    top:0;
    margin: 3px 3px;
}
.shortcutsInner{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    height: 89%;
}

.shortcutsInner > button{
    background-color: white;
    border: 0;
    outline: border;
    /* padding: 1.5rem 2rem; */
    font-size: auto;
    font-family: monospace;
    transition: all 0.16s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid rgba(128, 128, 128, 0.7);
    border-right: 3px solid rgba(128, 128, 128, 0.7);
    transform: scale(0.99);  
    z-index: 10;
    box-shadow: none;
}
.shortcutsInner > button:hover{
    transform: scale(1.02);  
    border-bottom: 5.4px solid rgba(128, 128, 128, 0.7);
    border-right: 3.6px solid rgba(128, 128, 128, 0.7);
    z-index: 9;
}
.shortcutsInner > button:active{
    transform: scale(.9554);
    border-bottom: 2.2px solid rgba(128, 128, 128, 0.7);
    border-right: 1.2px solid rgba(128, 128, 128, 0.7);
    z-index: 9;
}